<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav id="root-banner">
  <h1>Interactive World Map</h1>

  <ul id="nav-links">
    <li>
      <a routerLink="/home" class="route-links" >Home </a>
    </li>
    <li>
      <a routerLink="/all-countries" class="route-links" >All Countries</a>
    </li>
  </ul>
</nav>

<router-outlet />
